* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;

}

ul,
ol,
li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

video {
    width: 100%;
    height: auto;
}

body {
    background-color: #F7F5F1;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

p{
    line-height: 1.8;
}



.cursive {
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    transform: rotate(-3deg);
    line-height: 1.6;
}

.flex {
    display: flex;
    justify-content: space-between;
}


/*----------header------------------------*/

.home {
    font-size: 36px;
    transition: all 0.5s ease;
}

.home:hover {
    font-size: 38px;
    transform: rotate(0deg);
}


#header {
    width: 100%;
    align-items: baseline;
    padding: 20px 50px;
    position: fixed;
    z-index: 10000;
    
}

#header ul.flex li {
    margin: 0 0 0 20px;
    cursor: pointer;
    padding: 20px 0 20px 0;
}


#fixed {
    position: fixed;
    padding: 60px 50px;
    width: 100vw;
    
}

lang-switch {
    color: black;
}

/*fixed body------------------------------*/


#body {
    width: 100%;
}
.title p {
    font-size: 200px;
    line-height: 1.1;
    transform: rotate(-8deg);
    margin: 10px 0 100px;
}

#introduction p {
    margin: 40px 0 0;
    max-width: 650px;
    line-height: 1.8;
}
#introduction.flex {
    gap: 4%;
}



/*card------------------------------------*/


.scroll {
    height: 800px;
    width: 20px;
    opacity: 0;
}
.card {
    background-color: #EDE8E0;
    width: 1100px;
    height: 750px;
    z-index: 10;
    margin: 0 auto 100px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.30);
    transition: transform 0.3s ease;
}

a:nth-of-type(odd) .card {
    transform: rotate(3deg);
}

a:nth-of-type(odd):hover .card {
    transform: rotate(-3deg);
}


a:nth-of-type(even) .card {
    transform: rotate(-3deg);
}

a:nth-of-type(even):hover .card {
    transform: rotate(3deg);
}


.card img {
    width: 70%;
}

.card-description {
    padding: 15px;
    width: 100%;
    position: relative;
}

.line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 10px 0;
}

.work-name {
    position: absolute;
    width: 94%;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}




button {
    border: none;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    font-family: "Nanum Gothic", sans-serif;
    cursor: pointer;
    background: none;
}

.lang-switch button, .lang-switch span {
  opacity: 0.5;
}

.lang-switch button.active {
  opacity: 1;
}

/*responsive--------------------------------*/


@media  (max-width: 1300px) {
    .title p {
        font-size: 160px;
    }

     .card {
    width: 880px;
    height: 600px;
}
}

@media  (max-width: 980px) {
    .title p {
        font-size: 130px;
    }


    .card {
        flex-direction: column;
        width: 500px;
        height: 700px;
        justify-content: flex-start;
        position: relative;
    }

    .card-description {
        position:initial;
    }

    .card img {
        width: 100%;
        height: 400px;
    }

    .work-name {
        bottom: 5%;
    }

    #introduction p {
        margin: 0;
    }
    
}

@media (max-width: 700px) {
    .title p {
        font-size: 110px;
        text-align: center;
    }

    #fixed #introduction{
        margin: -50px 0 0;
        flex-direction: column;
    }

    #introduction p {
        margin: 5px 0;
    }

    .card {
        width: 400px;
        height: 700px;
    }
    
}

@media (max-width: 500px) {
    

    .title p {
        font-size: 80px;
        margin: 30px 0;
    }

    #introduction {
        font-size: 14px;
    }

    .card {
        width: 300px;
        height: 550px;
    }

    #fixed {
        padding: 60px 10px;
    }

    .card-description .lang {
        opacity: 0;
    }

    #body #introduction p.lang {
        opacity: 0;
    }

    .card .work-name {
        bottom: -5%;
    }
}


@media (max-width: 400px) {

    .card {
        width: 280px;
        height: 500px;
    }

    .card .cursive {
        font-size: 20px;
        line-height: 1.1;
    }

    
}
